
.icon-th-large:before { content: '\e800'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-lightbulb:before { content: '\f0eb'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */