
.icon-phone:before { content: '\e800'; } /* '' */
.icon-cancel-circled2:before { content: '\e801'; } /* '' */
.icon-wrench:before { content: '\e802'; } /* '' */
.icon-cog-alt:before { content: '\e803'; } /* '' */
.icon-tint:before { content: '\e804'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-lightbulb:before { content: '\f0eb'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */